@model GameLiterature.Models.Literature

@{
    ViewData["Title"] = "Details";
}
@inject LanguageService language

<h1>@language.Getkey("details")</h1>

<div>
    <h4>@language.Getkey("literature")</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiteratureQuestion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiteratureQuestion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiteratureAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiteratureAnswer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@language.Getkey("edit")</a> |
    <a asp-action="Index">Back to List</a>
</div>
